@CHARSET "ISO-8859-1";

.calendrier  img {
	border: none;
	height: 20px;
}

.calendrier  a {
	text-decoration: none;
}

.calendrier  .visualisationCalendrier {
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 25%;
	min-width: 50%;
	text-align: center;
	border: solid 2px rgb(0, 128, 0);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.calendrier  .visualisationCalendrier .administration {
	margin-bottom: 20px;
}

.calendrier  .visualisationCalendrier #affichage_calendrier {
	margin-top: 5%;
}

.calendrier .visualisationCalendrier .vide {
	float: left;
	width: 14%; /* pour ie */
	min-width: 14%;
}
.calendrier .visualisationCalendrier .label{
	font-weight: bold;
}
.calendrier .visualisationCalendrier .jour {
	float: left;
	width: 14%; /* pour ie */
	min-width: 14%;
	text-align: center;
}

.calendrier .visualisationCalendrier .jour .evenement {
	width: 60%;
	
	margin:auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.calendrier .visualisationCalendrier .retour_ligne {
	clear: left;
}

.calendrier .liste_evenement {
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 30px;
	margin-left: 5%;
}

.calendrier .liste_evenement table {
	border: 2px solid rgb(0, 128, 0);
	width: 90%;
}

.calendrier .liste_evenement td {
	
	border: 2px solid rgb(0, 128, 0);
}

.calendrier  .jourEnCour {
	background-color: rgb(0, 128, 0);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5%;
	color: white;
}