@CHARSET "ISO-8859-1";

/* On met d'abord les  propriétées générales */
body {
	font-family: "Arial Rounded MT Bold", Arial, "Arial Black",
		"Times New Roman", Times, serif;
	background-color: rgb(230, 230, 220);
	/*width: 800px;
	*/
	width: 95%;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#corps .error {
	color: red;
}

#corps {
	float: left;
	width: 61%;
	margin: 0.9%;
	margin-top: 20px;
	background-color: white;
	padding-bottom: 3%;
	padding-left: 2%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#corps h1 {
	color: white;
	background-color: rgb(0, 128, 0);
	padding-left: 5%;
	margin-top: 0px;
	margin-left: -3%;
	box-shadow: 0px -30px 15px -10px rgba(0, 0, 0, 0.3) inset;
	-webkit-border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
}

#corps .navigation {
	margin: 5px;
}

#corps .navigation a {
	color: rgb(0, 128, 0);
	text-decoration: none;
}

#corps .pages img {
	border: none;
	width: 20px;
}

#corps .page .boutton_enregistrer {
	float: right;
}

#corps .lien {
	margin: auto;
	text-align: center;
	margin: 20px;
}

#corps .lien a {
	color: rgb(0, 128, 0);
	text-decoration: none;
}

#corps .lien a {
	border: black solid 1px;
	background-color: rgb(0, 128, 0);
	color: white;
	padding: 1%;
	margin-bottom: 10px;
	text-decoration: none;
	box-shadow: 0px -25px 10px -10px rgba(0, 0, 0, 0.3) inset;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#corps .lien a:hover {
	background-color: rgb(128, 128, 0);
	box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 0.3) inset;
}

#corps img {
	border: none;
}