@CHARSET "ISO-8859-1";
#tabsHorseCard{
	float: left;
	width: 95%;
}
#corps .fiche_chevaux .visualisationFiche .photo_fiche{
	float: left;
	max-width: 40%;
}
#corps .fiche_chevaux .visualisationFiche .photo_fiche img{
	margin: 10%;
	max-width: 40%;
	max-height: 200px;
}

#corps .fiche_chevaux .visualisationFiche .surnom{
	margin-left: 10%;
	margin-bottom: 10px;
}
#corps .fiche_chevaux .visualisationFiche .informations {
	float: left;
	max-width: 55%;
}
#corps .fiche_chevaux .visualisationFiche .informations h2{
	color: rgb(0,128,0);
}

#corps .fiche_chevaux .visualisationTousLesFiches ul a{
	color: rgb(0,128,0);
	text-decoration: none;
}
#corps .fiche_chevaux .visualisationTousLesFiches ul a:hover{
	background-color: rgb(0,128,0);
	color: white;
}

.horseCard{
	float: left;
	width: 15%;
	height: 125px;
	position:relative;
	margin: 5px;
}

.horseCard img{
	z-index: 1;
	margin: auto;
}
.horseCard .name{
	position: absolute;	
	z-index: 2;
	text-align: center;
	width: 100%;
	color: rgb(0, 128, 0);
	bottom: 0px;
}

/* LE FORMULAIRE */

#corps .fiche_chevaux .formulaireFiche .date_visible{
	display: block;
}
#corps .fiche_chevaux .formulaireFiche .date_invisible{
	display: none;
}
/************************/
/* hover image */
/************************/
#corps .fiche_chevaux .presentation_image {
	
}
#corps .fiche_chevaux .presentation_image .tooltip{
	display: none;
	border : black 2px solid;
	position: absolute;
}
#corps .fiche_chevaux .presentation_image .tooltip img{
	margin: 0px;
	max-width: 500px;
	max-height: 400px;
	max-width: 100%;
}
#corps .fiche_chevaux .presentation_image:hover > .tooltip{
	display: block;
}


/***************************************************/
/* selection photo fiches chevaux */
/***************************************************/

#selection_photo .contenu_album{
	display: none ;
}
#selection_photo li:hover > .contenu_album{
	display: block;
}

#selection_photo #selected{
	border: solid red 2px;
}


/**************************************************/
/* birthday date */
/********************************************/
.birthday_calendar_arround{
	background: -moz-linear-gradient(to bottom, rgb(0,128,0), rgb(0,128,0));
	width: 120px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	border-radius: 6px;
 	box-shadow: 3px 3px 2px #888888; 
}

.birthday_calendar{
	border: black solid 1px;
	background-color: white;
	width: 100px;
	text-align: center;
	margin: auto;
	padding: 10px 2px;
	border-radius: 6px;
 	box-shadow: 3px 3px 2px #888888 inset; 
}
.birthday_calendar .day{
	font-size: 2em;
	color: #EE0000;
	
}
.birthday_calendar .month{
	color: black;
	display: inline;
	
}
.birthday_calendar .year{
	
	color: black;
	display: inline;
	
}
.birthday_calendar .age{
	
	color: gray;
	display: block;
	
}

