@CHARSET "ISO-8859-1";



.forum img {
	border: none;
}

.forum a {
	text-decoration: none;
}

.forum .boutton_enregistrer {
	float: right;
}

.forum .visualisationCategorieForum .categorie {
	border: solid black 2px;
	float: left;
	margin-left: 2%;
	clear: both;
	-moz-border-radius: 3% 3% 3% 3%;
	margin-bottom: 20px;
	width: 90%;
}

.forum .visualisationCategorieForum .categorie h2 {
	margin-top: 0px;
	background-color: rgb(0, 128, 0);
	color: white;
	-moz-border-radius: 3% 3% 0% 0%;
	padding-left: 2%;
	-moz-box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 0.3) inset;
}

.forum .visualisationCategorieForum .categorie h2:hover {
	background-color: rgb(128, 128, 0);
}

.forum .visualisationCategorieForum .categorie .description {
	width: 90%;
	float: left;
}

.forum .visualisationCategorieForum .categorie .action {
	width: 9%;
	float: right;
	height: 100%;
}

.forum .visualisationCategorieForum .categorie a {
	color: white;
	text-decoration: none;
}

/* ***************************************************** */
.forum .visualisationTopicForum .topic {
	margin: 3%;
	margin-bottom: 20px;
	border: solid black 2px;
	width: 90%;
	padding-left: 3%;
	-moz-border-radius: 3% 3% 3% 3%;
}


.forum .visualisationTopicForum .tr {
	border: solid black 2px;
}

.forum .visualisationTopicForum .topic .status {
	
}

.forum .visualisationTopicForum .topic .titre {
	width: 60%;
}


.forum .visualisationTopicForum .topic .titre a {
	text-decoration: none;
	color: rgb(0, 128, 0);
}

.forum .visualisationTopicForum .topic .action {
	
}

.forum .visualisationTopicForum .topic .action img {
	width: 20px;
	height: 20px;
}

.forum .visualisationTopicForum .topic .information {
	font-style: italic;
	font-size: 0.8em;
}

.forum .visualisationTopicForum .topic .topicOuvert { /*height: 50px;
	width: 50px;
	background-image: url("../images/forum/topicOuvert.png");
*/
	display: inline;
}

.forum .visualisationTopicForum .topic .topicFermer {
	display: inline;
	/*width: 50px;
	height: 50px;
	background-image: url("../images/forum/topicFermer.png");
*/
}

/* *********************************************** */
.forum .visualisationMessageForum .message {
	border: black 2px solid;
	margin: 2%;
	width: 90%;
	margin-bottom: 10px;
	-moz-border-radius: 3% 3% 3% 3%;
}

.forum .visualisationMessageForum .message .entete {
	border-bottom: black 2px solid;
	padding: 3px;
	background-color: rgb(0, 128, 0);
	color: white;
	-moz-border-radius: 3% 3% 0% 0%;
	-moz-box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 0.3) inset;
}

.forum .visualisationMessageForum .message .entete .info {
	display: inline;
}

.forum .visualisationMessageForum .message .entete .info .titre {
	
}

.forum .visualisationMessageForum .message .entete .info .auteur {
	margin-left: 15px;
	font-style: italic;
}

.forum .visualisationMessageForum .message .entete .info .date_creation
	{
	margin-left: 15px;
}

.forum .visualisationMessageForum .message .entete .action {
	display: inline;
}

.forum .visualisationMessageForum .message .derniere_modification {
	text-align: right;
	font-style: italic;
	font-size: 0.8em;
	margin-right: 2%;
}

.forum .visualisationMessageForum .message .corps {
	margin: 5px;
	padding-bottom: 10px;
}

.forum .visualisationMessageForum .message a img {
	border: none;
}

.petit_icone{
	width: 20px;
	height: 20px;
}