@CHARSET "ISO-8859-1";

#emoticones {
	border: solid 2px rgb(0, 128, 0);
}

#emoticones #nom_categorie_smiley {
	color: white;
	background-color: rgb(0, 128, 0);
}

#emoticones #nom_categorie_smiley span {
	margin-left: 3px;
}

#emoticones .categorieSelectionner {
	color: rgb(0, 128, 0);
	background-color: white;
}

#emoticones .categorieNonSelectionner {
	color: white;
	background-color: rgb(0, 128, 0);
}

#smiley_categorie_smiley .smiley_de_categorie_visible {
	visibility: visible;
}

#smiley_categorie_smiley .smiley_de_categorie_non_visible {
	visibility: hidden;
	width: 0px;
	height: 0px;
}