<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- 
	<bean name="openSessionInViewInterceptor"
		class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="flushMode">
			<bean
				id="org.springframework.orm.hibernate3.HibernateAccessor.FLUSH_AUTO"
				class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean" />
		</property>
	</bean>
 -->
	

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	



	<bean id="pageDAO" class="dao.page.PageDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	


	<bean id="vracDAO" class="dao.VracDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	
	<bean id="sauvegardeSmileyDAO" class="sauvegarde.smiley.dao.SauvegardeSmileyDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="enregistrementTraceRequeteDAO" class="enregistrement_trace_requete.dao.EnregistrementTraceRequeteDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
</beans>
