<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Chargeur de context de l'applcation web -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext*.xml
			classpath:/applicationContext-edlWyswyg.xml
		 </param-value>

	</context-param>

	<servlet>
		<servlet-name>rcp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/rcp-context.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rcp</servlet-name>
		<url-pattern>/edlwyswyg/greet</url-pattern>
	</servlet-mapping>
	

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>EdlWyswyg.html</welcome-file>
	</welcome-file-list>

</web-app>
