<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">




	<bean id="optionsDao" class="fr.ecuriesduloup.siteoptions.dao.OptionsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>



	<bean id="optionsManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="optionManagerImpl" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRES_NEW</prop>
			</props>
		</property>
	</bean>

	<bean id="optionManagerImpl" class="fr.ecuriesduloup.siteoptions.service.OptionsServiceImpl">
		<property name="optionsDao">
			<ref bean="optionsDao" />
		</property>
		<property name="userManager">
			<ref bean="utilisateurManager" />
		</property>
	</bean>

</beans>