<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	
	
	
	<bean id="calendrierManagerTarget" class="service.calendrier.CalendrierManagerImpl">
		<property name="eventManager">
			<ref bean="eventManager" />
		</property>
		<property name="typeEventManager">
			<ref bean="typeEventManager" />
		</property>
	</bean>

	<bean id="calendrierManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref bean="calendrierManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	
	<bean id="eventManager" class="service.calendrier.EventManagerImpl">
		<property name="dao">
			<ref bean="eventDAO" />
		</property>
		<property name="userDAO">
			<ref bean="userDAOHibernate" />
		</property>
		<property name="typeEventDao">
			<ref bean="typeEventDAO" />
		</property>
		<property name="ficheChevauxDAO">
			<ref bean="ficheChevauxDAO" />
		</property>
	</bean>
	<bean id="typeEventManager" class="service.calendrier.TypeEventManagerImpl">
		<property name="dao">
			<ref bean="typeEventDAO" />
		</property>
	</bean>
	
	
	<bean id="eventDAO" class="dao.calendrier.EventDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	
	<bean id="typeEventDAO" class="dao.calendrier.TypeEventDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	
	
	
</beans>