<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- -GWT  -->
	<bean id="secretFlagServiceRemoteService" class="org.gwtwidgets.server.spring.GWTRPCServiceExporter">
		<property name="service" ref="secretFlagServiceImpl" />
		<property name="serviceInterfaces" value="fr.ecuriesduloup.secretflag.client.SecretFlagService" />
	</bean>

	<bean id="secretFlagServiceImpl" class="fr.ecuriesduloup.secretflag.server.SecretFlagServiceImpl">
		<property name="optionsService">
			<ref bean="optionsManager" />
		</property>
	</bean>
</beans>
